<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>用户登录</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<link rel="shortcut icon" href="static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/element-ui/theme-chalk/element.min.css">
		<link rel="stylesheet" type="text/css" href="static/element-ui/theme-chalk/element.custom.css">
		<link rel="stylesheet" type="text/css" href="static/css/login.css">
	</head>
<body>
	<div id="app" class="el-page">
		<transition name="el-fade15">
			<div v-show="pageVisible" class="el-page-inner el-hidden">
				<div class="admin-login">
					<h3 class="admin-login-logo"><img src="static/images/logo.png"/>统一用户权限管理系统</h3>
					<div class="admin-login-form">
						<div class="admin-login-title">
							<h3>用户登录</h3>
						</div>
						<div class="admin-login-error">
							<p class="el-ellipsis" :title="errorMessage">{{errorMessage}}</p>
						</div>
						<el-form ref="loginForm" :rules="loginRules" :model="loginForm" label-width="0">
							<el-form-item class="admin-login-item-input" prop="userName">
								<el-input placeholder="请输入用户名" v-model="loginForm.userName" @keyup.enter.native="submitLogin">
								    <template slot="prepend"><i class="el-icon-fa-user"></i></template>
								</el-input>
							</el-form-item>
							<el-form-item class="admin-login-item-input" prop="password">
								<el-input type="password" placeholder="请输入密码" v-model="loginForm.password" @keyup.enter.native="submitLogin">
								    <template slot="prepend"><i class="el-icon-fa-lock"></i></template>
								</el-input>
							</el-form-item>
							<el-form-item class="admin-login-item-btn">
								<el-button class="admin-login-btn-submit" type="primary" @click="submitLogin" :loading="submiting">立即登录</el-button>
							</el-form-item>
							<el-form-item class="admin-login-item-btn">
								<a class="admin-login-forgotpwd" href="javascript:;"></a>
							</el-form-item>
						</el-form>
					</div>
				</div>
			</div>
		</transition>
	</div>
	<script type="text/javascript" src="static/js/polyfill.min.js"></script>
	<script type="text/javascript" src="static/js/vue.min.js"></script>
	<script type="text/javascript" src="static/js/vue.pageloading.js"></script>
	<script type="text/javascript" src="static/js/vue-router.min.js"></script>
	<script type="text/javascript" src="static/js/axios.min.js"></script>
	<script type="text/javascript" src="static/element-ui/element.min.js"></script>
	<script type="text/javascript" src="static/element-ui/element.extensional.js"></script>
	<script type="text/javascript" src="static/scripts/commons.js"></script>
	<script type="text/javascript" src="static/scripts/login.js"></script>
</body>
</html>