<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>用户管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<script type="text/javascript" src="/flexedgex-upms/shiro/accessible"></script>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.min.css">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.custom.css">
		<link rel="stylesheet" type="text/css" href="../static/css/commons.css">
		<style type="text/css">
			.el-table-user .el-tag--small {
				height: 22px;
			    line-height: 20px;
			}
			.usercard {
				display: inline-block;
				position: relative;
				height: 40px;
				line-height: 40px;
				padding-left: 45px;
			}
			.usercard > img {
				display: block;
				border: 0 none;
				margin: 0;
				padding: 0;
				position: absolute;
				left: 0;
				top: 0;
				height: 40px;
				width: 40px;
				border-radius: 50%;
			}
			.el-upload-plusuploader > .el-upload {
				height: 100px;
				line-height: 100px;
				width: 100px;
			}
		</style>
	</head>
<body>
	<div id="app" class="el-page">
		<el-scrollbar wrap-class="el-page-scrollbar" :wrap-style="pageScrollbarStyles">
			<transition name="el-fade15">
				<div v-show="pageVisible" class="el-page-inner el-hidden">
					<div class="el-page-content">
						<admin-container :topnav-menu-active="topnavMenuActive" :topnav-menu-list="topnavMenuList" :aside-menu-active="asideMenuActive" :aside-menu-list="asideMenuList" :login-user="loginUser">
							<div>
								<el-breadcrumb class="el-breadcrumb-admin" separator="/">
									<i class="el-icon-fa-home"></i>
								  	<el-breadcrumb-item>首页</el-breadcrumb-item>
								  	<el-breadcrumb-item>用户管理</el-breadcrumb-item>
								</el-breadcrumb>
								<div>
									<div class="el-search-form">
										<el-form ref="userQueryForm" :model="userQueryForm">
											<el-row :gutter="20">
												<el-col :span="4" :offset="2">
													<el-form-item prop="userName">
														<el-input v-model="userQueryForm.userName" :maxlength="20" placeholder="用户名"></el-input>
													</el-form-item>
												</el-col>
												<el-col :span="4">
													<el-form-item prop="realName">
												    	<el-input v-model="userQueryForm.realName" :maxlength="10" placeholder="姓名"></el-input>
												    </el-form-item>
										      	</el-col>
										      	<el-col :span="4">
													<el-form-item prop="userType">
														<el-select class="el-block" v-model="userQueryForm.userType" placeholder="用户类型">
										  					<el-option label="系统用户" :value="0"></el-option>
							 								<el-option label="普通用户" :value="1"></el-option>
										  				</el-select>
												    </el-form-item>
										      	</el-col>
										      	<el-col :span="4">
													<el-form-item prop="status">
														<el-select class="el-block" v-model="userQueryForm.status" placeholder="状态">
										  					<el-option label="启用" :value="1"></el-option>
							 								<el-option label="禁用" :value="0"></el-option>
										  				</el-select>
												    </el-form-item>
										      	</el-col>
										      	<el-col :span="4">
										      		<el-form-item class="el-align-center">
										      			<el-button @click="resetUserQueryForm" icon="el-icon-fa-undo">重 置</el-button>&nbsp;&nbsp;&nbsp;&nbsp;
										      			<el-button type="primary" @click="queryUserList(1000)" icon="el-icon-fa-search">查 询</el-button>
										      		</el-form-item>
										      	</el-col>
											</el-row>
										</el-form>
									</div>
									<div class="el-search-toolbar">
										<el-button type="primary" size="small" icon="el-icon-fa-plus-circle" @click="openUserEditDialog('add')">新增用户</el-button>
									</div>
									<div class="el-search-list">
										<el-table id="userTable" v-loading="userQueryLoading" element-loading-text="拼命加载中..." element-loading-custom-class="el-loading-mask-opacity" :class="{loading: userQueryLoading}" :data="userList" :default-sort="userQuerySort" @sort-change="onUserQuerySortChange" style="width:100%;" class="el-table-user el-table-primary el-table-sortable el-table-overflow-x-hidden" empty-text="暂无数据">
											<el-table-column label="序号" type="index" width="50"></el-table-column>
											<el-table-column label="用户名" prop="userName" width="150" sortable="custom">
												<template scope="scope">
													<div class="usercard"><img :src="scope.row.userIconUrl"/>{{scope.row.userName}}</div>
												</template>
											</el-table-column>
											<el-table-column label="姓名" prop="realName" width="110" align="center" sortable="custom"></el-table-column>
											<el-table-column label="手机号码" prop="mobilePhone" width="120" align="center" sortable="custom"></el-table-column>
											<el-table-column label="EMAIL" prop="email" sortable="custom"></el-table-column>
											<el-table-column label="用户类型" prop="userType" width="110" align="center" sortable="custom">
												<template scope="scope">
													<el-tag size="small" :type="getUserTypeTagType(scope.row.userType)">{{scope.row.userTypeName}}</el-tag>
												</template>
											</el-table-column>
											<el-table-column label="状态" prop="status" width="100" align="center" sortable="custom">
												<template scope="scope">
													<el-switch v-model="scope.row.status" active-color="#42A35A" inactive-color="#f05050" :active-value="1" :inactive-value="0" @click.native="changeUserStatus($event, scope.row)"></el-switch>
												</template>
											</el-table-column>
											<el-table-column label="创建时间" prop="createTime" width="100" align="center" sortable="custom"></el-table-column>
											<el-table-column label="操作" width="140" align="center">
												<template scope="scope">
													<el-dropdown class="el-dropdown-small" trigger="click" split-button type="primary" @click="openUserViewConfigDialog('view', scope.row)" @command="handleUserCommand(arguments[0], scope.row)">
													  	查看详情
													  	<el-dropdown-menu slot="dropdown">
													    	<el-dropdown-item command="view">查看详情</el-dropdown-item>
													    	<el-dropdown-item command="edit">修改用户</el-dropdown-item>
													    	<el-dropdown-item command="changepwd">修改密码</el-dropdown-item>
													    	<el-dropdown-item command="config">配置角色</el-dropdown-item>
													    	<el-dropdown-item command="delete" divided>删除用户</el-dropdown-item>
													  	</el-dropdown-menu>
													</el-dropdown>
												</template>
											</el-table-column>
										</el-table>
										<div class="el-search-list-pager">
											<el-pagination background v-show="showUserQueryPager" @current-change="onUserQueryCurrentPageChange" :current-page="userQueryForm.currentPage" :page-size="userQueryForm.pageSize" layout="slot, prev, pager, next, total" :total="userQueryTotal">
										  		<div class="el-pagination-pagesize">
										  			<span>每页显示</span>
										  			<el-button-group>
											  			<el-button type="gray" :class="{active: userQueryForm.pageSize == 10}" @click="onUserQueryPageSizeChange($event, 10);">10</el-button>
											  			<el-button type="gray" :class="{active: userQueryForm.pageSize == 20}" @click="onUserQueryPageSizeChange($event, 20);">20</el-button>
													  	<el-button type="gray" :class="{active: userQueryForm.pageSize == 50}" @click="onUserQueryPageSizeChange($event, 50);">50</el-button>
													  	<el-button type="gray" :class="{active: userQueryForm.pageSize == 100}" @click="onUserQueryPageSizeChange($event, 100);">100</el-button>
													</el-button-group>
													<span>条</span>
										  		</div>
										  	</el-pagination>
										</div>
									</div>
								</div>
								
								<!-- 新增/修改Dialog -->
								<el-dialog :visible.sync="userEditDialogVisible" class="el-dialog-center" width="80%" @close="closeUserEditDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> {{userEditDialogTitle}}</span>
									<div>
										<el-form ref="userEditForm" :model="userEditForm" :rules="userEditRules" label-width="120px">
											<el-row>
												<el-col :span="12">
													<el-form-item label="用户名" prop="userName">
														<el-col :span="12">
															<el-input v-model="userEditForm.userName" :maxlength="20"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips">由字母开头,5~20个字母、数字及下划线组成.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="12">
													<el-form-item label="姓 名" prop="realName">
														<el-col :span="12">
															<el-input v-model="userEditForm.realName" :maxlength="10"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips">真实姓名.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row v-if="currentActionType == 'add'">
												<el-col :span="12">
													<el-form-item label="账户密码" prop="password">
														<el-col :span="12">
															<el-input v-model="userEditForm.password" :maxlength="20" type="password"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips">由6~20位个字母或数字组成.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="12">
													<el-form-item label="重复密码" prop="repassword">
														<el-col :span="12">
															<el-input v-model="userEditForm.repassword" :maxlength="20" type="password"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips">请再次确认您输入的密码.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row>
												<el-col :span="12">
													<el-form-item label="手机号码" prop="mobilePhone">
														<el-col :span="12">
															<el-input v-model="userEditForm.mobilePhone" :maxlength="11"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips"></p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="12">
													<el-form-item label="EMAIL" prop="email">
														<el-col :span="12">
															<el-input v-model="userEditForm.email" :maxlength="100"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips"></p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row>
												<el-col :span="12">
													<el-form-item label="上传头像" prop="userIcon">
														<el-col :span="24">
															<el-upload class="el-upload-plusuploader" :headers="uploadHeaders" :action="userIconUploadUrl" :data="userIconUploadParam" :show-file-list="false" :before-upload="beforeUserIconUpload" :on-remove="handleUserIconRemove" :on-success="handleUserIconUploadSuccess" :on-error="handleUploadError">
																<img v-if="userEditForm.userIcon" :src="userEditForm.userIconUrl" title="点击原图片可以重新上传新图片!">
							  									<i v-else class="el-icon-plus"></i>
							  									<div class="el-upload__tip" slot="tip">只能上传jpg|png文件，大小不超过50kb，图片像素限90x90像素附近(长宽误差不超过10个像素)，点击原图片可以重新上传新图片!</div>
															</el-upload>
														</el-col>
													</el-form-item>
												</el-col>
											</el-row>
										</el-form>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="closeUserEditDialog">取 消</el-button>
									    <el-button type="primary" icon="el-icon-fa-save" @click="saveUser" :loading="submiting">确 定</el-button>
									</div>
								</el-dialog>
								
								<!-- 查看详情/配置用户角色Dialog -->
								<el-dialog :visible.sync="userViewConfigDialogVisible" class="el-dialog-center" width="80%" @close="closeUserViewConfigDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> {{userViewConfigDialogTitle}}</span>
									<div>
										<el-tabs v-model="userViewConfigActiveTabName">
									    	<el-tab-pane label="用户基本信息" name="userDetail">
									    		<div>
									    			<el-row>
														<el-col :span="3" class="el-form-item-label">用户名：</el-col>
														<el-col :span="9" class="el-form-item-content">
															<div class="usercard"><img :src="userViewConfigForm.userIconUrl"/>{{userViewConfigForm.userName}}</div>
														</el-col>
														<el-col :span="3" class="el-form-item-label">姓 名：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.realName}}</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">手机号码：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.mobilePhone}}</el-col>
														<el-col :span="3" class="el-form-item-label">EMAIL：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.email}}</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">用户类型：</el-col>
														<el-col :span="9" class="el-form-item-content">
															<el-tag size="small" :type="getUserTypeTagType(userViewConfigForm.userType)">{{userViewConfigForm.userTypeName}}</el-tag>
														</el-col>
														<el-col :span="3" class="el-form-item-label">状 态：</el-col>
														<el-col :span="9" class="el-form-item-content">
															<el-tag size="small" :type="getStatusTagType(userViewConfigForm.status)">{{userViewConfigForm.statusName}}</el-tag>
														</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">最后登录时间：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.lastLoginTime}}</el-col>
														<el-col :span="3" class="el-form-item-label">登录总次数：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.loginTimes}}</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">创建时间：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.createTime}}</el-col>
														<el-col :span="3" class="el-form-item-label">修改时间：</el-col>
														<el-col :span="9" class="el-form-item-content">{{userViewConfigForm.updateTime}}</el-col>
													</el-row>
									    		</div>
									    	</el-tab-pane>
									    	<el-tab-pane label="用户角色列表" name="userRoleConfig">
									    		<div class="el-search-form el-padding-no">
													<el-form ref="userRoleQueryForm" :model="userRoleQueryForm" style="padding: 5px 0 0;">
														<el-row :gutter="20">
															<el-col :span="4">
																<el-form-item prop="appId">
																	<el-select class="el-block" v-model="userRoleQueryForm.appId" placeholder="所属应用">
													  					<el-option v-for="app in allAppList" :label="app.appName" :value="app.appId"></el-option>
													  				</el-select>
																</el-form-item>
															</el-col>
															<el-col :span="4">
																<el-form-item prop="roleName">
																	<el-input v-model="userRoleQueryForm.roleName" :maxlength="100" placeholder="角色名称"></el-input>
																</el-form-item>
															</el-col>
															<el-col :span="4">
																<el-form-item prop="roleCode">
																	<el-input v-model="userRoleQueryForm.roleCode" :maxlength="100" placeholder="角色代码"></el-input>
																</el-form-item>
															</el-col>
															<el-col :span="5">
																<el-form-item class="el-align-center">
																	<el-button @click="resetUserRoleQueryForm" icon="el-icon-fa-undo">重 置</el-button>&nbsp;&nbsp;&nbsp;&nbsp;
																	<el-button type="primary" @click="queryUserRoleList(1000)" icon="el-icon-fa-search">查 询</el-button>
																</el-form-item>
															</el-col>
															<el-col :span="7">
																<el-form-item v-if="currentActionType == 'config'" class="el-align-right">
																	<el-button type="primary" icon="el-icon-fa-plus-circle" @click="showUserRoleAddTab">添加用户角色</el-button>
																	<el-button type="primary" icon="el-icon-fa-minus-circle" :loading="submiting" @click="delUserRoleConfig">移除选中角色</el-button>
																</el-form-item>
															</el-col>
														</el-row>
													</el-form>
												</div>
									    		<el-table ref="userRoleTable" v-loading="userRoleQueryLoading" element-loading-text="拼命加载中..." element-loading-custom-class="el-loading-mask-opacity" :class="{loading: userRoleQueryLoading}" :data="userRoleList"  style="width:100%;" class="el-table-primary2"  @selection-change="onUserRoleSelectionChange" empty-text="暂无配置">
													<el-table-column label="#" type="index" width="40"></el-table-column>
													<el-table-column type="selection" width="60" v-if="currentActionType == 'config'"></el-table-column>
													<el-table-column label="角色名称" prop="roleName" width="170" sortable></el-table-column>
													<el-table-column label="角色代码" prop="roleCode" width="170" sortable></el-table-column>
													<el-table-column label="角色类型" prop="roleType" width="120" align="center" sortable>
														<template scope="scope">
															<el-tag size="small" :type="getRoleTypeTagType(scope.row.roleType)">{{scope.row.roleTypeName}}</el-tag>
														</template>
													</el-table-column>
													<el-table-column label="角色描述" prop="description"></el-table-column>
													<el-table-column label="配置时间" prop="createTime" width="100" align="center" sortable></el-table-column>
												</el-table>
									    	</el-tab-pane>
									    	<el-tab-pane v-if="currentActionType == 'config'" label="添加用户角色" name="userRoleAdd">
									    		<div class="el-search-form el-padding-no">
													<el-form ref="roleQueryForm" :model="roleQueryForm" style="padding: 5px 0 0;">
														<el-row :gutter="20">
															<el-col :span="4">
																<el-form-item prop="appId">
																	<el-select class="el-block" v-model="roleQueryForm.appId" placeholder="所属应用">
													  					<el-option v-for="app in allAppList" :label="app.appName" :value="app.appId"></el-option>
													  				</el-select>
																</el-form-item>
															</el-col>
															<el-col :span="4">
																<el-form-item prop="roleName">
																	<el-input v-model="roleQueryForm.roleName" :maxlength="100" placeholder="角色名称"></el-input>
																</el-form-item>
															</el-col>
															<el-col :span="4">
																<el-form-item prop="roleCode">
																	<el-input v-model="roleQueryForm.roleCode" :maxlength="100" placeholder="角色代码"></el-input>
																</el-form-item>
															</el-col>
															<el-col :span="5">
																<el-form-item class="el-align-center">
																	<el-button @click="resetRoleQueryForm" icon="el-icon-fa-undo">重 置</el-button>&nbsp;&nbsp;&nbsp;&nbsp;
																	<el-button type="primary" @click="queryRoleList(1000)" icon="el-icon-fa-search">查 询</el-button>
																</el-form-item>
															</el-col>
															<el-col :span="7">
																<el-form-item class="el-align-right">
																	<el-button type="primary" icon="el-icon-fa-plus-circle" :loading="submiting" @click="addUserRoleConfig">添加选中角色</el-button>
																</el-form-item>
															</el-col>
														</el-row>
													</el-form>
												</div>
												<div class="el-search-list" style="padding:0;">
										    		<el-table ref="roleTable" v-loading="roleQueryLoading" element-loading-text="拼命加载中..." element-loading-custom-class="el-loading-mask-opacity" :class="{loading: roleQueryLoading}" :data="roleList" max-height="250" style="width:100%;" class="el-table el-table-primary2" @selection-change="onRoleSelectionChange" empty-text="暂无数据">
														<el-table-column label="#" type="index" width="40"></el-table-column>
														<el-table-column type="selection" width="60" v-if="currentActionType == 'config'"></el-table-column>
														<el-table-column label="角色名称" prop="roleName" width="170" sortable></el-table-column>
														<el-table-column label="角色代码" prop="roleCode" width="170" sortable></el-table-column>
														<el-table-column label="角色类型" prop="roleType" width="120" align="center" sortable>
															<template scope="scope">
																<el-tag size="small" :type="getRoleTypeTagType(scope.row.roleType)">{{scope.row.roleTypeName}}</el-tag>
															</template>
														</el-table-column>
														<el-table-column label="角色描述" prop="description"></el-table-column>
														<el-table-column label="创建时间" prop="createTime" width="100" align="center" sortable></el-table-column>
													</el-table>
													<div class="el-search-list-pager">
														<el-pagination background small v-show="showRoleQueryPager" @current-change="onRoleQueryCurrentPageChange" :current-page="roleQueryForm.currentPage" :page-size="roleQueryForm.pageSize" layout="prev, pager, next, total" :total="roleQueryTotal">
													  	</el-pagination>
													</div>
												</div>
									    	</el-tab-pane>
									  	</el-tabs>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="closeUserViewConfigDialog">关 闭</el-button>
									</div>
								</el-dialog>
								<!-- 修改用户密码Dialog -->
								<el-dialog :visible.sync="changeUserPwdDialogVisible" class="el-dialog-center" width="80%" @close="closeChangeUserPwdDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> 修改用户密码</span>
									<div>
										<el-form ref="changeUserPwdForm" :model="changeUserPwdForm" :rules="changeUserPwdRules" label-width="220px">
											<el-row>
												<el-col :span="24">
													<el-form-item label="用户名" prop="userName">
														<el-col :span="14">
															<span style="line-height:32px;font-weight:bold;color:#000;">{{changeUserPwdForm.userName}}</span>
														</el-col>
														<el-col :span="10">
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row>
												<el-col :span="24">
													<el-form-item label="账户密码" prop="password">
														<el-col :span="14">
															<el-input v-model="changeUserPwdForm.password" :maxlength="20" type="password"></el-input>
														</el-col>
														<el-col :span="10">
												      		<p class="el-form-item-tips">由6~20位个字母或数字组成.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row>
												<el-col :span="24">
													<el-form-item label="重复密码" prop="repassword">
														<el-col :span="14">
															<el-input v-model="changeUserPwdForm.repassword" :maxlength="20" type="password"></el-input>
														</el-col>
														<el-col :span="10">
												      		<p class="el-form-item-tips">请再次确认您输入的密码.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
										</el-form>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="closeChangeUserPwdDialog">取 消</el-button>
									    <el-button type="primary" icon="el-icon-fa-save" @click="changeUserPassword" :loading="submiting">确 定</el-button>
									</div>
								</el-dialog>
							</div>
						</admin-container>
					</div>
				</div>
			</transition>
		</el-scrollbar>
	</div>
	<script type="text/javascript" src="../static/js/polyfill.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.pageloading.js"></script>
	<script type="text/javascript" src="../static/js/vue-router.min.js"></script>
	<script type="text/javascript" src="../static/js/axios.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.extensional.js"></script>
	<script type="text/javascript" src="../static/scripts/commons.js"></script>
	<script type="text/javascript" src="../static/scripts/user/index.js"></script>
</body>
</html>