<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>角色管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<script type="text/javascript" src="/flexedgex-upms/shiro/accessible"></script>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.min.css">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.custom.css">
		<link rel="stylesheet" type="text/css" href="../static/css/commons.css">
		<style type="text/css">
			.el-tree-roleresources {
				height: 350px;
				overflow-x: hidden;
				overflow-y: auto;
			}
			.el-tree-node__content {
				position: relative;
				height: auto;
				min-height: 34px;
				line-height: 34px;
			}
			.el-tree-node__content > .el-checkbox {
				vertical-align: top;
			}
			.el-tree-custom-resource {
				display: inline-block;
				vertical-align: middle;
				white-space: normal;
				font-size: 14px;
				width: 100%;
				margin-left: -50px;
			    padding-left: 50px;
			    box-sizing: border-box;
			}
			.el-tree-custom-resource > .custom-label {
				display: inline-block;
				vertical-align: middle;
				float: left;
				width: auto;
			}
			.el-tree-custom-resource > .custom-action-type {
				display: inline-block;
				vertical-align: middle;
				float: right;
				padding: 5px;
				box-sizing: border-box;
				line-height: 1;
				min-height: 30px;
				width: 160px;
				text-align: center;
			}
			.el-tree-custom-resource > .custom-action-type > .el-tag--small {
				margin-top: 1px;
			}
		</style>
	</head>
<body>
	<div id="app" class="el-page">
		<el-scrollbar wrap-class="el-page-scrollbar" :wrap-style="pageScrollbarStyles">
			<transition name="el-fade15">
				<div v-show="pageVisible" class="el-page-inner el-hidden">
					<div class="el-page-content">
						<admin-container :topnav-menu-active="topnavMenuActive" :topnav-menu-list="topnavMenuList" :aside-menu-active="asideMenuActive" :aside-menu-list="asideMenuList" :login-user="loginUser">
							<div>
								<el-breadcrumb class="el-breadcrumb-admin" separator="/">
									<i class="el-icon-fa-home"></i>
								  	<el-breadcrumb-item>首页</el-breadcrumb-item>
								  	<el-breadcrumb-item>角色管理</el-breadcrumb-item>
								</el-breadcrumb>
								<div>
									<div class="el-search-form">
										<el-form ref="roleQueryForm" :model="roleQueryForm">
											<el-row :gutter="20">
												<el-col :span="4" :offset="2">
													<el-form-item prop="appId">
														<el-select class="el-block" v-model="roleQueryForm.appId" placeholder="所属应用" @change="queryRoleList(1000)">
										  					<el-option v-for="app in allAppList" :label="app.appName" :value="app.appId"></el-option>
										  				</el-select>
												    </el-form-item>
										      	</el-col>
												<el-col :span="4">
													<el-form-item prop="roleName">
														<el-input v-model="roleQueryForm.roleName" :maxlength="20" placeholder="角色名称"></el-input>
													</el-form-item>
												</el-col>
												<el-col :span="4">
													<el-form-item prop="roleCode">
												    	<el-input v-model="roleQueryForm.roleCode" :maxlength="10" placeholder="角色代码"></el-input>
												    </el-form-item>
										      	</el-col>
										      	<el-col :span="4">
													<el-form-item prop="roleType">
														<el-select class="el-block" v-model="roleQueryForm.roleType" placeholder="角色类型">
										  					<el-option label="系统角色" :value="0"></el-option>
							 								<el-option label="普通角色" :value="1"></el-option>
										  				</el-select>
												    </el-form-item>
										      	</el-col>
										      	<el-col :span="4">
										      		<el-form-item class="el-align-center">
										      			<el-button @click="resetRoleQueryForm" icon="el-icon-fa-undo">重 置</el-button>&nbsp;&nbsp;&nbsp;&nbsp;
										      			<el-button type="primary" @click="queryRoleList(1000)" icon="el-icon-fa-search">查 询</el-button>
										      		</el-form-item>
										      	</el-col>
											</el-row>
										</el-form>
									</div>
									<div class="el-search-toolbar">
										<el-button type="primary" size="small" icon="el-icon-fa-plus-circle" @click="openRoleEditDialog('add')">新增角色</el-button>
									</div>
									<div class="el-search-list">
										<el-table id="roleTable" v-loading="roleQueryLoading" element-loading-text="拼命加载中..." element-loading-custom-class="el-loading-mask-opacity" :class="{loading: roleQueryLoading}" :data="roleList" :default-sort="roleQuerySort" @sort-change="onRoleQuerySortChange" style="width:100%;" class="el-table-role el-table-primary el-table-sortable el-table-overflow-x-hidden" empty-text="暂无数据">
											<el-table-column label="序号" type="index" width="50"></el-table-column>
											<el-table-column label="角色名称" prop="roleName" sortable="custom"></el-table-column>
											<el-table-column label="角色代码" prop="roleCode" width="250" align="center" sortable="custom"></el-table-column>
											<el-table-column label="角色类型" prop="roleType" width="160" align="center" sortable="custom">
												<template scope="scope">
													<el-tag size="small" :type="getRoleTypeTagType(scope.row.roleType)">{{scope.row.roleTypeName}}</el-tag>
												</template>
											</el-table-column>
											<el-table-column label="创建时间" prop="createTime" width="180" align="center" sortable="custom"></el-table-column>
											<el-table-column label="操作" width="160" align="center">
												<template scope="scope">
													<el-dropdown class="el-dropdown-small" trigger="click" split-button type="primary" @click="openRoleViewConfigDialog('view', scope.row)" @command="handleRoleCommand(arguments[0], scope.row)">
													  	查看详情
													  	<el-dropdown-menu slot="dropdown">
													    	<el-dropdown-item command="view">查看详情</el-dropdown-item>
													    	<el-dropdown-item command="edit">修改角色</el-dropdown-item>
													    	<el-dropdown-item command="config">配置角色</el-dropdown-item>
													    	<el-dropdown-item command="delete" divided>删除角色</el-dropdown-item>
													  	</el-dropdown-menu>
													</el-dropdown>
												</template>
											</el-table-column>
										</el-table>
										<div class="el-search-list-pager">
											<el-pagination background v-show="showRoleQueryPager" @current-change="onRoleQueryCurrentPageChange" :current-page="roleQueryForm.currentPage" :page-size="roleQueryForm.pageSize" layout="slot, prev, pager, next, total" :total="roleQueryTotal">
										  		<div class="el-pagination-pagesize">
										  			<span>每页显示</span>
										  			<el-button-group>
											  			<el-button type="gray" :class="{active: roleQueryForm.pageSize == 10}" @click="onRoleQueryPageSizeChange($event, 10);">10</el-button>
											  			<el-button type="gray" :class="{active: roleQueryForm.pageSize == 20}" @click="onRoleQueryPageSizeChange($event, 20);">20</el-button>
													  	<el-button type="gray" :class="{active: roleQueryForm.pageSize == 50}" @click="onRoleQueryPageSizeChange($event, 50);">50</el-button>
													  	<el-button type="gray" :class="{active: roleQueryForm.pageSize == 100}" @click="onRoleQueryPageSizeChange($event, 100);">100</el-button>
													</el-button-group>
													<span>条</span>
										  		</div>
										  	</el-pagination>
										</div>
									</div>
								</div>
								
								<!-- 新增/修改Dialog -->
								<el-dialog :visible.sync="roleEditDialogVisible" class="el-dialog-center" width="80%" @close="closeRoleEditDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> {{roleEditDialogTitle}}</span>
									<div>
										<el-form ref="roleEditForm" :model="roleEditForm" :rules="roleEditRules" label-width="120px">
											<el-row>
												<el-col :span="24">
													<el-form-item label="角色名称" prop="roleName">
														<el-col :span="16">
															<el-input v-model="roleEditForm.roleName" :maxlength="100"></el-input>
														</el-col>
														<el-col :span="8">
												      		<p class="el-form-item-tips">不超过100个汉字、字符组成.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="24">
													<el-form-item label="角色代码" prop="roleCode">
														<el-col :span="16">
															<el-input v-model="roleEditForm.roleCode" :maxlength="100"></el-input>
														</el-col>
														<el-col :span="8">
												      		<p class="el-form-item-tips">不超过100个字母、数字、下划线组成.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
											<el-row>
												<el-col :span="24">
													<el-form-item label="角色描述" prop="description">
														<el-col :span="16">
															<el-input type="textarea" v-model="roleEditForm.description" :maxlength="512"></el-input>
														</el-col>
														<el-col :span="8">
												      		<p class="el-form-item-tips"></p>
												      	</el-col>
													</el-form-item>
												</el-col>
											</el-row>
										</el-form>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="closeRoleEditDialog">取 消</el-button>
									    <el-button type="primary" icon="el-icon-fa-save" @click="saveRole" :loading="submiting">确 定</el-button>
									</div>
								</el-dialog>
								
								<el-dialog :visible.sync="roleViewConfigDialogVisible" class="el-dialog-center" width="80%" @close="closeRoleViewConfigDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> {{roleViewConfigDialogTitle}}</span>
									<div>
										<el-tabs v-model="roleViewConfigActiveTabName">
									    	<el-tab-pane label="角色基本信息" name="roleDetail">
									    		<div>
									    			<el-row>
														<el-col :span="3" class="el-form-item-label">角色名称：</el-col>
														<el-col :span="9" class="el-form-item-content">{{roleViewConfigForm.roleName}}</el-col>
														<el-col :span="3" class="el-form-item-label">角色代码：</el-col>
														<el-col :span="9" class="el-form-item-content">{{roleViewConfigForm.roleCode}}</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">所属应用：</el-col>
														<el-col :span="9" class="el-form-item-content">{{roleViewConfigForm.appName}}</el-col>
														<el-col :span="3" class="el-form-item-label">角色类型：</el-col>
														<el-col :span="9" class="el-form-item-content">
															<el-tag size="small" :type="getRoleTypeTagType(roleViewConfigForm.roleType)">{{roleViewConfigForm.roleTypeName}}</el-tag>
														</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">角色描述：</el-col>
														<el-col :span="21" class="el-form-item-content">
															<p>{{roleViewConfigForm.description}}</p>
														</el-col>
													</el-row>
													<el-row>
														<el-col :span="3" class="el-form-item-label">创建时间：</el-col>
														<el-col :span="9" class="el-form-item-content">{{roleViewConfigForm.createTime}}</el-col>
														<el-col :span="3" class="el-form-item-label">修改时间：</el-col>
														<el-col :span="9" class="el-form-item-content">{{roleViewConfigForm.updateTime}}</el-col>
													</el-row>
									    		</div>
									    	</el-tab-pane>
									    	<el-tab-pane label="角色资源配置" name="roleResourceConfig">
									    		<el-tree ref="roleResourceViewTree" v-loading="roleResourcesLoading" element-loading-text="拼命加载中..." element-loading-class="el-loading-mask-opacity" :class="{loading: roleResourcesLoading}" class="el-tree-roleresources" :data="roleResourceList" :props="defaultProps" node-key="id" :show-checkbox="true" :default-expand-all="true" :expand-on-click-node="true" :check-strictly="true" :render-content="renderRoleResourceTreeNode" @check="onRoleResourceTreeNodeCheckClick"></el-tree>
									    	</el-tab-pane>
									  	</el-tabs>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="roleViewConfigDialogVisible = false">关 闭</el-button>
										<el-button v-if="roleViewConfigActiveTabName == 'roleResourceConfig'" type="primary" icon="el-icon-fa-refresh" @click="refreshRoleResourceConfig">刷新配置</el-button>
										<el-button v-if="currentActionType == 'config' && roleViewConfigActiveTabName == 'roleResourceConfig'" type="primary" icon="el-icon-fa-save" @click="saveRoleResourceConfig" :loading="submiting">保存配置</el-button>
									</div>
								</el-dialog>
							</div>
						</admin-container>
					</div>
				</div>
			</transition>
		</el-scrollbar>
	</div>
	<script type="text/javascript" src="../static/js/polyfill.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.pageloading.js"></script>
	<script type="text/javascript" src="../static/js/vue-router.min.js"></script>
	<script type="text/javascript" src="../static/js/axios.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.extensional.js"></script>
	<script type="text/javascript" src="../static/scripts/commons.js"></script>
	<script type="text/javascript" src="../static/scripts/role/index.js"></script>
</body>
</html>