<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>资源管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<script type="text/javascript" src="/flexedgex-upms/shiro/accessible"></script>
		<link rel="shortcut icon" href="../static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.min.css">
		<link rel="stylesheet" type="text/css" href="../static/element-ui/theme-chalk/element.custom.css">
		<link rel="stylesheet" type="text/css" href="../static/css/commons.css">
		<style type="text/css">
			.el-search-form {
				border-bottom: 1px solid #E4E7ED;
			}
			.el-tree-scrollbar__wrap {
				padding: 0;
				overflow-x: hidden;
				margin-bottom: 0 !important;
			}
			.el-tree-node__content {
				position: relative;
				height: auto;
				min-height: 30px;
			}
			.el-tree-node__content > .el-checkbox {
				vertical-align: top;
			}
			.el-tree-custom-resource {
				display: inline-block;
				vertical-align: middle;
				white-space: normal;
				font-size: 14px;
				width: 100%;
				margin-left: -50px;
			    padding-left: 50px;
			    box-sizing: border-box;
			}
			.el-tree-custom-resource > .custom-label, .el-tree-custom-resource > .custom-siblings-index, .el-tree-custom-resource > .custom-action-type, .el-tree-custom-resource > .custom-resource-url, .el-tree-custom-resource > .custom-permission-exp, .el-tree-custom-resource > .custom-options {
				display: inline-block;
				vertical-align: middle;
				float: right;
				padding: 5px;
				box-sizing: border-box;
				line-height: 32px;
				min-height: 36px;
			}
			.el-tree-custom-resource > .custom-label {
				float: left;
				width: auto;
			}
			.el-tree-custom-resource > .custom-siblings-index {
				width: 40px;
				text-align: center;
			}
			.el-tree-custom-resource > .custom-action-type {
				width: 80px;
				text-align: center;
			}
			.el-tree-custom-resource > .custom-resource-url {
				width: 320px;
				text-align: left;
			}
			.el-tree-custom-resource > .custom-permission-exp {
				width: 180px;
				text-align: left;
				line-height: 32px;
			}
			.el-tree-custom-resource > .custom-options {
				width: 140px;
				text-align: center;
			}
			.el-tree-custom-resource > .custom-options > .el-dropdown {
				margin-top: 3px;
			}
			.el-tree-resource-wrap {
				margin-top: 10px;
				border: 1px solid #d1dbe5;
			}
			.el-tree-resource {
				min-height: 250px;
			}
		</style>
	</head>
<body>
	<div id="app" class="el-page">
		<el-scrollbar wrap-class="el-page-scrollbar" :wrap-style="pageScrollbarStyles">
			<transition name="el-fade15">
				<div v-show="pageVisible" class="el-page-inner el-hidden">
					<div class="el-page-content">
						<admin-container :topnav-menu-active="topnavMenuActive" :topnav-menu-list="topnavMenuList" :aside-menu-active="asideMenuActive" :aside-menu-list="asideMenuList" :login-user="loginUser">
							<div>
								<el-breadcrumb class="el-breadcrumb-admin" separator="/">
									<i class="el-icon-fa-home"></i>
								  	<el-breadcrumb-item>首页</el-breadcrumb-item>
								  	<el-breadcrumb-item>角色管理</el-breadcrumb-item>
								</el-breadcrumb>
								<div>
									<div class="el-search-form">
										<el-form ref="resourceQueryForm" :model="resourceQueryForm">
											<el-row :gutter="20">
												<el-col :span="6" :offset="2">
													<el-form-item prop="appId">
														<el-select class="el-block" v-model="resourceQueryForm.appId" placeholder="所属应用" @change="refreshResourceTree(1000)">
										  					<el-option v-for="app in allAppList" :label="app.appName" :value="app.appId"></el-option>
										  				</el-select>
												    </el-form-item>
										      	</el-col>
												<el-col :span="6">
													<el-form-item prop="onlyMenuActionType">
														<el-checkbox v-model="resourceQueryForm.onlyMenuActionType" @change="refreshResourceTree(1000)">仅显示菜单</el-checkbox>
													</el-form-item>
												</el-col>
										      	<el-col :span="6">
										      		<el-form-item class="el-align-center">
										      			<el-button @click="resetResourceQueryForm" icon="el-icon-fa-undo">重 置</el-button>&nbsp;&nbsp;&nbsp;&nbsp;
										      			<el-button type="primary" @click="refreshResourceTree(1000)" icon="el-icon-fa-refresh">刷 新</el-button>
										      		</el-form-item>
										      	</el-col>
											</el-row>
										</el-form>
									</div>
									<div class="el-tree-resource-wrap">
										<el-scrollbar wrap-class="el-tree-scrollbar__wrap" :wrap-style="treeWrapStyle">
											<el-tree ref="resourceTree" class="el-tree-resource" v-loading="resourceTreeLoading" element-loading-text="拼命加载中..." element-loading-class="el-loading-mask-opacity" :class="{loading: resourceTreeLoading}" :data="resourceTreeList" node-key="id" :props="defaultProps" :show-checkbox="true" :default-expand-all="true" :expand-on-click-node="false" :check-strictly="true" :render-content="renderResourceTreeNode"></el-tree>
										</el-scrollbar>
									</div>
								</div>
								
								<el-dialog :visible.sync="resourceEditDialogVisible" class="el-dialog-center" width="80%" @close="closeResourceEditDialog">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-large"></i> {{resourceEditDialogTitle}}</span>
									<div>
										<el-form ref="resourceEditForm" :model="resourceEditForm" :rules="resourceEditRules" label-width="120px">
											<el-row>
												<el-col :span="12">
													<el-form-item label="父级资源" prop="parentResourceId">
														<el-col :span="12">
															<el-input v-model="resourceEditForm.parentResourceName" readonly @focus="onFocus4ReadOnly"></el-input>
															<input type="hidden" v-model="resourceEditForm.parentResourceId"/>
														</el-col>
														<el-col :span="12">
															<p class="el-form-item-tips"></p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="12">
										      	</el-col>
											</el-row>
											<el-row>
												<el-col :span="12">
													<el-form-item label="资源名称" prop="resourceName">
														<el-col :span="12">
															<el-input v-model="resourceEditForm.resourceName" :maxlength="20"></el-input>
														</el-col>
														<el-col :span="12">
												      		<p class="el-form-item-tips">不超过20个字符.</p>
												      	</el-col>
													</el-form-item>
												</el-col>
												<el-col :span="12">
													<el-form-item label="权限表达式" prop="permissionExpression">
												    	<el-col :span="12">
															<el-input v-model="resourceEditForm.permissionExpression" :maxlength="100"></el-input>
														</el-col>
												      	<el-col :span="12">
												      		<p class="el-form-item-tips">例如: user:add:*、order:check:1等.</p>
												      	</el-col>
												    </el-form-item>
										      	</el-col>
											</el-row>
										   <el-row>
												<el-col :span="12">
													<el-form-item label="资源功能类型" prop="actionType">
												    	<el-col :span="12">
												    		<el-select v-model="resourceEditForm.actionType" class="el-block" :disabled="!resourceEditForm.actionTypeEditable">
											  					<el-option label="菜单" :value="0"></el-option>
								 								<el-option label="按钮" :value="1"></el-option>
											  				</el-select>
														</el-col>
												      	<el-col :span="12">
												      	</el-col>
												    </el-form-item>
												</el-col>
												<el-col :span="12">
													 <el-form-item label="排序号" prop="siblingsIndex">
												    	<el-col :span="12">
															<el-input v-model="resourceEditForm.siblingsIndex" :maxlength="10"></el-input>
														</el-col>
												      	<el-col :span="12">
												      		<p class="el-form-item-tips">兄弟节点间的顺序.</p>
												      	</el-col>
												    </el-form-item>
										      	</el-col>
											</el-row>
										    <el-row>
												<el-col :span="12">
													<el-form-item label="资源URL" prop="resourceUrl">
												    	<el-col :span="12">
															<el-input v-model="resourceEditForm.resourceUrl" :maxlength="500"></el-input>
														</el-col>
												      	<el-col :span="12">
												      		<p class="el-form-item-tips">例如：/welcome.html</p>
												      	</el-col>
												    </el-form-item>
												</el-col>
												<el-col :span="12">
													 <el-form-item label="资源图标类名" prop="resourceIcon">
												    	<el-col :span="12">
															<el-input v-model="resourceEditForm.resourceIcon" :maxlength="50"></el-input>
														</el-col>
												      	<el-col :span="12">
												      		<p class="el-form-item-tips">例如：'fa-home' (来自http://www.fontawesome.com.cn/faicons)</p>
												      	</el-col>
												    </el-form-item>
										      	</el-col>
											</el-row>
											<el-row v-if="resourceEditForm.actionType == 0">
												<el-col :span="12">
													<el-form-item label="" prop="indexPage">
												    	<el-col :span="12">
												    		<el-checkbox v-model="resourceEditForm.indexPage">是否作为所属应用的首页?</el-checkbox>
														</el-col>
												      	<el-col :span="12">
												      		<p class="el-form-item-tips"></p>
												      	</el-col>
												    </el-form-item>
												</el-col>
												<el-col :span="12">
										      	</el-col>
											</el-row>
										</el-form>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="closeResourceEditDialog">取 消</el-button>
									    <el-button type="primary" icon="el-icon-fa-save" @click="saveResource" :loading="submiting">确 定</el-button>
									</div>
								</el-dialog>
								
								<el-dialog :visible.sync="resourceViewDialogVisible" class="el-dialog-center" width="80%">
									<span class="el-dialog__title" slot="title"><i class="el-icon-fa-th-list"></i> 查看资源</span>
									<div>
										<el-row>
											<el-col :span="3" class="el-form-item-label">父级资源：</el-col>
											<el-col :span="21" class="el-form-item-content">{{resourceViewForm.parentResourceName}}</el-col>
										</el-row>
										<el-row>
											<el-col :span="3" class="el-form-item-label">资源名称：</el-col>
											<el-col :span="9" class="el-form-item-content">{{resourceViewForm.resourceName}}</el-col>
											<el-col :span="3" class="el-form-item-label">权限表达式：</el-col>
											<el-col :span="9" class="el-form-item-content">
												<p>{{resourceViewForm.permissionExpression}}</p>
											</el-col>
										</el-row>
										<el-row>
											<el-col :span="3" class="el-form-item-label">资源功能类型：</el-col>
											<el-col :span="9" class="el-form-item-content">
												<el-tag size="small" :type="getTagType4ActionType(resourceViewForm.actionType)">{{resourceViewForm.actionTypeName}}</el-tag>
											</el-col>
											<el-col :span="3" class="el-form-item-label">排序号：</el-col>
											<el-col :span="9" class="el-form-item-content">{{resourceViewForm.siblingsIndex}}</el-col>
										</el-row>
										<el-row>
											<el-col :span="3" class="el-form-item-label">资源URL：</el-col>
											<el-col :span="9" class="el-form-item-content">
												<p v-html="formatResourceUrl(resourceViewForm.resourceUrl)"></p>
											</el-col>
											<el-col :span="3" class="el-form-item-label">资源图标类名：</el-col>
											<el-col :span="9" class="el-form-item-content">{{resourceViewForm.resourceIcon}}</el-col>
										</el-row>
										<el-row>
											<el-col :span="3" class="el-form-item-label">资源类型：</el-col>
											<el-col :span="9" class="el-form-item-content">{{resourceViewForm.resourceTypeName}}</el-col>
											<el-col :span="3" class="el-form-item-label">所属应用：</el-col>
											<el-col :span="9" class="el-form-item-content">{{resourceViewForm.appName}}</el-col>
										</el-row>
									</div>
									<div slot="footer">
										<el-button icon="el-icon-fa-ban" @click="resourceViewDialogVisible = false">关 闭</el-button>
									</div>
								</el-dialog>
							</div>
						</admin-container>
					</div>
				</div>
			</transition>
		</el-scrollbar>
	</div>
	<script type="text/javascript" src="../static/js/polyfill.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.pageloading.js"></script>
	<script type="text/javascript" src="../static/js/vue-router.min.js"></script>
	<script type="text/javascript" src="../static/js/axios.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.min.js"></script>
	<script type="text/javascript" src="../static/element-ui/element.extensional.js"></script>
	<script type="text/javascript" src="../static/scripts/commons.js"></script>
	<script type="text/javascript" src="../static/scripts/resource/index.js"></script>
</body>
</html>