<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.xmodule.upms.mapper.UpmsAppMapper">
   
    <insert id="insertModel" keyProperty="appId" parameterType="UpmsApp" statementType="PREPARED" useGeneratedKeys="true">
        INSERT INTO upms_app(
            app_id,
            app_name,
            description,
            app_type,
            app_key,
            app_secret,
            app_web_context_path,
            app_api_context_path,
            create_time,
            create_by
        ) VALUES (
            #{appId, jdbcType=BIGINT},
            #{appName, jdbcType=VARCHAR},
            #{description, jdbcType=VARCHAR},
            #{appType, jdbcType=TINYINT},
            #{appKey, jdbcType=VARCHAR},
            #{appSecret, jdbcType=VARCHAR},
            #{appWebContextPath, jdbcType=VARCHAR},
            #{appApiContextPath, jdbcType=VARCHAR},
            #{createTime, jdbcType=VARCHAR},
            #{createBy, jdbcType=BIGINT}
        )
    </insert>
   
    <update id="updateModelById" parameterType="UpmsApp" statementType="PREPARED">
        UPDATE upms_app a
           SET a.app_id = #{appId, jdbcType=BIGINT}
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appName)">
               ,a.app_name = #{appName, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(description)">
               ,a.description = #{description, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appType)">
               ,a.app_type = #{appType, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appKey)">
               ,a.app_key = #{appKey, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appSecret)">
               ,a.app_secret = #{appSecret, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appWebContextPath)">
               ,a.app_web_context_path = #{appWebContextPath, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appApiContextPath)">
               ,a.app_api_context_path = #{appApiContextPath, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(enabled)">
               ,a.enabled = #{enabled, jdbcType=BOOLEAN}
            </if>
         WHERE a.app_id = #{appId, jdbcType=BIGINT}
    </update>
   
    <update id="dynamicUpdateModelById" parameterType="UpmsApp" statementType="PREPARED">
        UPDATE upms_app a
           SET a.app_id = #{appId, jdbcType=BIGINT}
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appName)">
               ,a.app_name = #{appName, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(description)">
               ,a.description = #{description, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appType)">
               ,a.app_type = #{appType, jdbcType=TINYINT}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appKey)">
               ,a.app_key = #{appKey, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appSecret)">
               ,a.app_secret = #{appSecret, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appWebContextPath)">
               ,a.app_web_context_path = #{appWebContextPath, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appApiContextPath)">
               ,a.app_api_context_path = #{appApiContextPath, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(enabled)">
               ,a.enabled = #{enabled, jdbcType=BOOLEAN}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(createTime)">
               ,a.create_time = #{createTime, jdbcType=VARCHAR}
            </if>
            <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(createBy)">
               ,a.create_by = #{createBy, jdbcType=BIGINT}
            </if>
         WHERE a.app_id = #{appId, jdbcType=BIGINT}
    </update>
   
    <delete id="deleteModelById" parameterType="java.lang.Long" statementType="PREPARED">
        DELETE FROM upms_app WHERE app_id = #{appId, jdbcType=BIGINT}
    </delete>
   
    <select id="selectModelById" parameterType="java.lang.Long" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE a.app_id = #{appId, jdbcType=BIGINT}
    </select>
   
    <select id="selectModelByExample" parameterType="UpmsApp" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE 1=1
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appName)">
           AND a.app_name like CONCAT('%', #{appName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appType)">
           AND a.app_type = #{appType, jdbcType=TINYINT}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appKey)">
           AND a.app_key = #{appKey, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appWebContextPath)">
           AND a.app_web_context_path = #{appWebContextPath, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(appApiContextPath)">
           AND a.app_api_context_path = #{appApiContextPath, jdbcType=VARCHAR}
        </if>
        <if test="@com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(enabled)">
           AND a.enabled = #{enabled, jdbcType=BOOLEAN}
        </if>

    </select>
   
    <select id="selectModelListByIds" parameterType="java.util.List" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE a.app_id in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
         ORDER BY a.app_id ASC
    </select>
   
    <select id="selectAllModelList" parameterType="java.util.Map" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE 1=1
         ORDER BY a.app_id ASC
    </select>
   
    <select id="countAllModelList" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM upms_app a
         WHERE 1=1
    </select>
   
    <select id="selectModelListByExample" parameterType="java.util.Map" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appName)">
           AND a.app_name like CONCAT('%', #{example.appName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appType)">
           AND a.app_type = #{example.appType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appKey)">
           AND a.app_key = #{example.appKey, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appWebContextPath)">
           AND a.app_web_context_path = #{example.appWebContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appApiContextPath)">
           AND a.app_api_context_path = #{example.appApiContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.enabled)">
           AND a.enabled = #{example.enabled, jdbcType=BOOLEAN}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">#{item.property} #{item.direction}</foreach>
        </if>
    </select>
   
    <select id="selectModelPageListByExample" parameterType="java.util.Map" resultType="UpmsApp" statementType="PREPARED">
        SELECT a.app_id	appId,
               a.app_name	appName,
               a.description	description,
               a.app_type	appType,
               a.app_key	appKey,
               a.app_secret	appSecret,
               a.app_web_context_path	appWebContextPath,
               a.app_api_context_path	appApiContextPath,
               a.enabled	enabled,
               DATE_FORMAT(a.create_time, '%Y-%m-%d %T')	createTime,
               a.create_by	createBy
          FROM upms_app a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appName)">
           AND a.app_name like CONCAT('%', #{example.appName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appType)">
           AND a.app_type = #{example.appType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appKey)">
           AND a.app_key = #{example.appKey, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appWebContextPath)">
           AND a.app_web_context_path = #{example.appWebContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appApiContextPath)">
           AND a.app_api_context_path = #{example.appApiContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.enabled)">
           AND a.enabled = #{example.enabled, jdbcType=BOOLEAN}
        </if>
        <if test="sort != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(sort.orders)">
         ORDER BY <foreach collection="sort.orders" index="index" item="item" open="" separator="," close="">#{item.property} #{item.direction}</foreach>
        </if>
    </select>
   
    <select id="countModelPageListByExample" parameterType="java.util.Map" resultType="java.lang.Integer" statementType="PREPARED">
        SELECT count(*)
          FROM upms_app a
         WHERE 1=1
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appName)">
           AND a.app_name like CONCAT('%', #{example.appName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appType)">
           AND a.app_type = #{example.appType, jdbcType=TINYINT}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appKey)">
           AND a.app_key = #{example.appKey, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appWebContextPath)">
           AND a.app_web_context_path = #{example.appWebContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.appApiContextPath)">
           AND a.app_api_context_path = #{example.appApiContextPath, jdbcType=VARCHAR}
        </if>
        <if test="example != null and @com.penglecode.xmodule.common.mybatis.MybatisUtils@isNotEmpty(example.enabled)">
           AND a.enabled = #{example.enabled, jdbcType=BOOLEAN}
        </if>
    </select>
</mapper>