@CHARSET "UTF-8";
html, body, .el-page {
	margin: 0;
	padding: 0;
	height: 100%;
}
.el-page {
	margin: 0 auto;
	max-width: 100%;
}
.el-page-inner {
	padding: 0;
}
.el-input-group__append, .el-input-group__prepend {
	padding: 0 15px;
}
.admin-login {
	display: block;
	position: relative;
	height: 100%;
	background-color: #6A4A76;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6A4A76, endColorstr=#052afc);
    background-image: -moz-linear-gradient(180deg, #6A4A76 0%, #222222 100%);
    background-image: -webkit-linear-gradient(180deg, #6A4A76 0%, #222222 100%);
    background-image: -ms-linear-gradient(180deg, #6A4A76 0%, #222222 100%);
    background-image: -o-linear-gradient(180deg, #6A4A76 0%, #222222 100%);
    background-image: -webkit-gradient(linear, 60deg, color-stop(0%,#6A4A76), color-stop(100%,#222222));
    background-image: linear-gradient(180deg, #6A4A76 0%, #222222 100%);
}
.admin-login-logo {
	display: block;
	position: absolute;
	width: 600px;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	border: 0 none;
	background-color: transparent;
	font-size: 32px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	padding-left: 180px;
}
.admin-login-logo > img {
	position: absolute;
	border: 0 none;
	bottom: 0;
	left: 0;
}
.admin-login-form {
	display: block;
	position: absolute;
	width: 340px;
	height: 320px;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -160px;
	background-color: #fff;
}
.admin-login-title, .admin-login-error {
	display: block;
    position: relative;
}
.admin-login-title {
    color: #6A4A76;
    font-size: 16px;
    margin: 30px 30px 0 30px;
    text-align: center;	
    box-sizing: border-box;
}
.admin-login-error {
	height: 20px;
}
.admin-login-error > p {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0 30px;
	margin: 0;
	color: #bc0f0f;
	font-size: 13px;
}
.admin-login-title:before {
	background: #6A4A76 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.admin-login-title h3 {
	display: inline-block;
	position: relative;
	margin: 0;
	background-color: #fff;
    padding: 0 15px;
    font-weight: bold;
}
.admin-login-form .el-form {
	box-sizing: border-box;
	padding: 0 30px 30px 30px;
}
.admin-login-form .el-form .el-form-item.admin-login-item-input {
	margin-bottom: 25px;
}
.admin-login-form .el-form .el-form-item.admin-login-item-btn {
	margin-bottom: 0;
}
.admin-login-item-input .el-input .el-input-group__prepend {
	display: block;
	position: absolute;
	top: 9px;
	left: 7px; 
	height: 26px;
	width: 20px;
	line-height: 26px;
	text-align: center;
	border: 0 none;
	background-color: transparent;
	border-right: 1px solid #ccc;
}
.admin-login-item-input .el-input .el-input__inner {
	height: 44px;
	padding: 10px 10px 10px 80px;
}
.admin-login-item-input .el-input .el-input-group__prepend [class^="el-icon-"]{
	font-size: 14px;
}
.admin-login-btn-submit.el-button {
	background-color: #5cb85c;
	border: 0 none;
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding: 0;
}
.admin-login-btn-submit.el-button:hover {
	background-color: #449d44;
}
.admin-login-forgotpwd {
	float: right;
	font-size: 12px;
	color: #999;
	line-height: 30px;
}
.admin-login-forgotpwd:hover {
	color: #6A4A76;
}
